@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}




body {
    background-image: url("./assets/images/fundo.png");
    background-repeat: no-repeat;
    font-family: 'Inter';
    background-size: cover;
    background-attachment: fixed;
}

#barLeft{
    margin-right: 0px;
    margin-top: 30px;
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar a{
    font-size: 16px;
    text-decoration: none;
    margin-left: left;
    font-weight: bold;
}

#menu{
    margin-right: 50px;
    margin-left: 30px;
}

#hboLogo{
    margin-top: 30px;
    margin-left: 45px;
}

#barLeft{
    color: #FFFFFF;
}


#barRight{
    margin-top: 30px;
    margin-right: 50px;
   
}
#barRight a{
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    padding-right: 30px;
}




main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#topo a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 65px;
        display: flex;
        flex-direction: column;
    
        color: #FFFFFF;

}

#topo b{
    font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 35px;
        display: flex;
        flex-direction: column;
    
        color: #FFFFFF;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

form label{
    display: flex;
    font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;

    
        color: #FFFFFF;
        margin-top: 10px;
        margin-bottom: 10px;
}

#E-mail{
    display: flex;
    justify-content: center;
}

#Senha{
    display: flex;
    justify-content: center;
}
input{
    background: rgba(127, 127, 127, 0.75);
        border-radius: 25px;
        height: 25px;
        width: 600px;
}

input::placeholder{
    color: #FFFFFF;
    margin-left: 400px;
}

form p{
    font-style: normal;
        font-weight: 400;
        font-size: 20px;
        
    
        color: #9b9e9a;
}

#butao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[value="Entrar"]{
    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    height: 36px;
    width: 400px;

}
form input[value="Entrar como provedor"]{
    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    height: 36px;
    margin-bottom: 5px;
    width: 500px;

}
    /* }
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}


nav ul li:first-child,
nav ul li:nth-child(2){
   justify-content: flex-start;
}
nav ul li a{
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

nav ul li:last-child,
nav ul li:nth-child(4){
    justify-content: flex-end;
}

nav ul li img {
    display: block;
    max-height: 50px;
    margin: 0 auto;
    float: right;

} */

    #butao1 {

        margin-left: 0;
    }

    #butao2 {

        margin-right: ;
    }





    */

    /* /* .menu_principal{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.menu_principal ul{
    display: flex;
    justify-content: space-between;
}


#menu{
    color: white;
}

#search{
    color: white;
}

#butao1{
    color: white;
} */
    .menu_principal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navBar {
        display: flex;
        align-items: center;
    }

    .navBar li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navBar li:first-child {
        margin-right: auto;
    }

    #menu {
        color: white;
    }

    */