@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}




body {
    background-image: url("./assets/images/fundo.png");
    background-repeat: no-repeat;
    font-family: 'Inter';
    background-size: cover;
    background-attachment: fixed;
}

#navBar1{
    margin-right: 0px;
    margin-top: 30px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar a{
    font-size: 16px;
    text-decoration: none;
    margin-left: left;
    font-weight: bold;
}

#menu{
    margin-right: 50px;
    margin-left: 30px;
}

#hboLogo{
    margin-top: 30px;
    margin-left: 45px;
}

#navBar2{
    margin-top: 30px;
    margin-right: 50px;
   
}
#navBar2 a{
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding-right: 30px;
}






    /* }
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}


nav ul li:first-child,
nav ul li:nth-child(2){
   justify-content: flex-start;
}
nav ul li a{
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

nav ul li:last-child,
nav ul li:nth-child(4){
    justify-content: flex-end;
}

nav ul li img {
    display: block;
    max-height: 50px;
    margin: 0 auto;
    float: right;

} */

    #butao1 {

        margin-left: 0;
    }

    #butao2 {

        margin-right: ;
    }





    */

    /* /* .menu_principal{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.menu_principal ul{
    display: flex;
    justify-content: space-between;
}


#menu{
    color: white;
}

#search{
    color: white;
}

#butao1{
    color: white;
} */
    .menu_principal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navBar {
        display: flex;
        align-items: center;
    }

    .navBar li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navBar li:first-child {
        margin-right: auto;
    }

    #menu {
        color: white;
    }

    */