body {

    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 15px;
    background-color: #FFD900;


}

#alinhar {
    width: 8rem;

}

#descricao {
    display: flex;
    flex-direction: column;
    background-color: #514988;
    text-align: center;
}

#titulo {
    color: #F3C61F;
    font-size: 1.5rem;
}

#data {
    color: #FFFFFF;
    font-size: 0.7rem;
    margin-top: -0.5rem;
}

#conteudo {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    line-height: 1.3rem;
    display: flex;
    justify-content: center;
    text-align: center;

    color: #FFFFFF;
    margin-bottom: 2rem;
}

#subtitle-cards {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    color: #F3C61F;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#subtitle {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    color: #E33881;
    margin-top: -2rem;
    font-size: 1rem;
}

#sideB {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sideC {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#countDown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    color: #514988;
    font-size: 1.6rem;


}

#sideC {
    display: grid;
    grid-auto-flow: row;
}

.text-wrap {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.5rem;
    padding: 1rem;
    margin-bottom: 2rem;







}

.text-wrap img {
    width: 90%;


}

#btn {
    font-size: clamp(1.2rem, 40%, 2rem);
    border: 0;
    border-radius: 10px;
    background: #514988;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    color: #FFFFFF;
    width: 15rem;
    height: 3rem;
    line-height: 3rem;


}

@media only screen and (max-width: 2340px) and (min-width: 1080px) and (orientation: portrait) {
    header {
        height: 3rem;
    }

    #alinhar {
        height: 3rem;
        width: 10rem;
        padding-left: 1.5rem;
    }

    #sideA {
        display: flex;
        flex-direction: row;
        justify-content: end;
        text-align: center;
        height: 20rem;

    }

    #titulo {
        font-size: 3rem;
        margin-top: 1rem;
    }

    #data {
        font-family: 'Verdana';
        font-style: normal;

        font-size: 1.1rem;
        margin-top: -1.5rem;
        margin-bottom: 2rem;


    }

    #descricao {
        display: flex;
        flex-direction: column;
        height: 30rem;
        width: 60rem;

    }

    #conteudo {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
    }

    video {
        width: 95%;
        justify-content: right;
        background-image: cover;
        margin-top: 1rem;

    }

    #sideB {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        text-align: center;
        height: 26rem;

    }

    #countDown p {
        font-size: 2rem;
        margin-top: 5rem;
        margin-bottom: 3rem;

    }

    #sideC {
        display: flex;
        flex-direction: row;
        margin-top: 8rem;


    }

    #aviso {

        font-size: 1.2rem;

        text-align: left;
        padding-left: 2rem;

    }

    .text-wrap {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(4, auto);
        grid-gap: 0px;
        padding-left: 4rem;

        width: 40rem;

    }

    #btn {
        width: 20rem;
        height: 5rem;
        line-height: 5rem;
        margin-top: 5rem;
    }

    #btn:hover {
        background-color: #FFD900;
    }

    #subtitle-cards {
        display: flex;
        flex-direction: column;
        text-align: left;


    }

    #subtitle-cards strong {
        padding-left: 4rem;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 720px) {
    header {
        height: 3rem;
    }

    #alinhar {
        height: 3rem;
        width: 10rem;
        padding-left: 1.5rem;
    }

    #sideA {
        display: flex;
        flex-direction: row;
        justify-content: end;
        text-align: center;
        height: 22rem;

    }

    #titulo {
        font-size: 3rem;
        margin-top: 1rem;
    }

    #data {
        font-family: 'Verdana';
        font-style: normal;

        font-size: 1.1rem;
        margin-top: -1.5rem;
        margin-bottom: 2rem;


    }

    #descricao {
        display: flex;
        flex-direction: column;
        height: 30rem;
        width: 60rem;

    }

    #conteudo {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
    }

    video {
        width: 95%;
        justify-content: right;
        background-image: cover;
        
    }

    #sideB {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        text-align: center;
        height: 26rem;

    }

    #countDown p {
        font-size: 2.4rem;
        margin-top: 5rem;
        margin-bottom: 3rem;

    }

    #sideC {
        display: flex;
        flex-direction: row;
        margin-top: 8rem;


    }

    #aviso {

        font-size: 1.2rem;

        text-align: left;
        padding-left: 2rem;

    }

    .text-wrap {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(4, auto);
        grid-gap: 0px;
        padding-left: 4rem;

        width: 40rem;

    }

    #btn {
        width: 20rem;
        height: 5rem;
        line-height: 5rem;
        margin-top: 5rem;
    }

    #btn:hover {
        background-color: #FFD900;
    }

    #subtitle-cards {
        display: flex;
        flex-direction: column;
        text-align: left;


    }

    #subtitle-cards strong {
        padding-left: 4rem;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1138px) and (min-width: 712px) and (orientation: landscape) {
    header {
        height: 3rem;
    }

    #alinhar {
        height: 3rem;
        width: 10rem;
        padding-left: 1.5rem;
    }

    #sideA {
        display: flex;
        flex-direction: row;
        justify-content: end;
        text-align: center;
        height: 22rem;

    }

    #titulo {
        font-size: 3rem;
        margin-top: 1rem;
    }

    #data {
        font-family: 'Verdana';
        font-style: normal;

        font-size: 1.1rem;
        margin-top: -1.5rem;
        margin-bottom: 2rem;


    }

    #descricao {
        display: flex;
        flex-direction: column;
        height: 30rem;
        width: 50rem;

    }

    #conteudo {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
    }

    video {
        width: 95%;
        justify-content: right;
        background-image: cover;

    }

    #sideB {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        text-align: center;
        height: 26rem;

    }

    #countDown p {
        font-size: 2rem;

        margin-top: -2rem;
        margin-bottom: 5rem;

    }

    #sideC {
        display: flex;
        flex-direction: row;
        margin-top: 8rem;


    }

    #aviso {

        font-size: 1.3rem;
        margin-top: -1.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
        padding-left: 2rem;

    }

    .text-wrap {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(4, auto);
        grid-gap: 0px;
        padding-left: 4rem;

        width: 40rem;

    }

    #btn {
        width: 20rem;
        height: 5rem;
        line-height: 5rem;
        margin-top: 5rem;
    }

    #btn:hover {
        background-color: #FFD900;
    }

    #subtitle-cards {
        display: flex;
        flex-direction: column;
        text-align: left;


    }

    #subtitle-cards strong {
        padding-left: 4rem;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: Portrait) {
    header {
        height: 3rem;
    }

    #alinhar {
        height: 3rem;
        width: 10rem;
        padding-left: 1.5rem;
    }

    #sideA {
        display: flex;
        flex-direction: row;
        justify-content: end;
        text-align: center;
        height: 15rem;

    }

    #titulo {
        font-size: 2rem;
        margin-top: 1rem;
    }

    #data {
        font-family: 'Verdana';
        font-style: normal;

        font-size: 1.1rem;
        margin-top: -1.5rem;
        margin-bottom: 2rem;


    }

    #descricao {
        display: flex;
        flex-direction: column;
        height: 30rem;
        width: 40rem;

    }

    #conteudo {
        font-size: 1rem;
        line-height: 1.5rem;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        white-space: nowrap;
    }

    video {
        width: 95%;
        justify-content: right;
        background-image: cover;

    }

    #sideB {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        text-align: center;
        height: 26rem;

    }

    #countDown p {
        font-size: 2rem;

        margin-top: -2rem;
        margin-bottom: 5rem;

    }

    #sideC {
        display: flex;
        flex-direction: row;
        margin-top: 15rem;


    }

    #aviso {

        font-size: 1.3rem;
        margin-top: -1.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
        padding-left: 2rem;

    }

    .text-wrap {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(4, auto);
        grid-gap: 0px;
        padding-left: 4rem;

        width: 20rem;

    }

    #btn {
        width: 15rem;
        height: 5rem;
        line-height: 5rem;
        margin-top: 5rem;
    }

    #btn:hover {
        background-color: #FFD900;
    }

    #subtitle-cards {
        display: flex;
        flex-direction: column;
        text-align: left;


    }

    #subtitle-cards strong {
        padding-left: 4rem;
        font-size: 1.3rem;
    }
}